*

!/.gitignore
!/LICENSE
!/README.md

!/.gitmodules
!/asoln

!/module/
!/module/0/
!/module/0/main.tex
!/module/0/main.pdf
!/module/0/section/
!/module/0/section/notes.tex
!/module/0/section/1.tex
!/module/0/section/2.tex
!/module/0/section/3.tex
!/module/0/section/4.tex
!/module/0/section/5.tex
!/module/1/
!/module/1/main.tex
!/module/1/main.pdf
!/module/1/section/
!/module/1/section/notes.tex
!/module/1/section/1.tex
!/module/1/section/2.tex
!/module/1/section/3.tex
!/module/1/section/4.tex
